@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
/* --------------------comman class----------------------- */

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.position-relative {
    position: relative;
}

.justify-content-center {
    justify-content: center;
}
.w-100 {
    width: 100%;
}
.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}
/* -------------comman class end ----------------------- */
/*----------------- header---------------------- */
.gap-60 {
    gap: 60px;
}
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.event {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;
    color: #2C49FE;
}

.free {
    color: #01C8FF;
}
.home {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.home:hover {
    color: blue;
}
.btn {
    border-radius: 50px;
    border: 2px solid #2C49FE;
    background-color: #2C49FE;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    padding: 11px 28px;
    cursor: pointer;
}

header {
    position: sticky;
    z-index: 5;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 8px 35px 0px #0000000D;
}
/*----------------- header end---------------------- */
/* ------------------hero section ----------------- */
.pt-100 {
    padding-top: 100px;
}
.user {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #666666;
}
.name {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: left;
    color: #000000;
    margin-right: 80px;
    white-space: nowrap;
}
.unshow {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #000000;
    background: #2C49FE1A;
    border: 2px solid #eaedff;
    border-radius: 100px;
    padding: 11px 28px;
    white-space: nowrap;
    margin-right: 13px;
}

.unshow:hover {
    background-color: #2C49FE;
    color: #FFFFFF;
}

.user-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #666666;
    width: 100%;
    padding-top: 29px;
}
.location {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #666666;
    padding-left: 8px;
}
.pt-38 {
    padding-top: 38px;
}

.gap-35 {
    gap: 35px;
}
/* ------------------hero section end ----------------- */

/* ----------------svg section-------------------- */

.svg-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #666666;
    padding-top: 22px;
}
.position-a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* -----------------------svg section end ------------------- */
/* ------------------gallery section --------------------- */
.line-1 {
    width: 99px;
    background: #2C49FE;
    height: 6px;
}

.line-2 {
    width: 13px;
    height: 6px;
    background: #01C8FF;
}

.gallery {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: center;
    color: #000000;
}
.pt-65 {
    padding-top: 65px;
}
.pb-77 {
    padding-bottom: 77px;
}
.grid-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
}

.g-items1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.g-items2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.g-items3 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.g-items4 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.g-items5 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.g-items6 {
    grid-column: 2/4;
    grid-row: 3/4;
}

.g-items {
    border-radius: 20px;
    overflow: hidden;
}

.g-items>img {
    transition: all .3ms linear;
    height: 100%;
    object-fit: cover;
}

.g-items:hover>img {
    transform: scale(1.2);
}

/* ------------------gallery section  end --------------------- */
/* ------------------tell us section  end --------------------- */
.pt-50 {
    padding-top: 50px;
}
.pb-100 {
    padding-bottom: 100px;
}
.tell-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #666666;
    max-width: 719px;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 45px;
}
.border {
    border: 2px solid #9CA1BE;
    border-radius: 50px;
    background-color: white;
    padding: 5px 9px;
    width: 100%;
}
.comment {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #666666;
    padding: 20px;
    outline: none;
    border: none;
}

.postbtn {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
    background-color: #2C49FE;
    border-radius: 100px;
    border: 2px solid #2C49FE;
    padding: 13px 30px;
    white-space: nowrap;
    cursor: pointer;
}
.m-10 {
    margin: 8px 0px 7px 8px;
}
.profile {
    max-width: 56px;
    height: 56px;
}
.userbox {
    width: 100%;
    background-color: #F1F2F5;
    margin-left: 20px;
    border-radius: 0px 20px 20px 20px;
    padding: 14px 20px;
}
.username {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #000000;
    padding-top: 14px;
    padding-bottom: 10px;
}

.user-comment {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #666666;
    padding-bottom: 20px;
}
.mt-47 {
    margin-top: 47px;
}
.mt-24 {
    margin-top: 24px;
}

.ml-96 {
    margin-left: 96px;
}

.mt-8 {
    margin-top: 8px;
}
.Remove {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #666666;
    padding-left: 5px;
    white-space: nowrap;
    cursor: pointer;
}
/* ------------------tell us section  end --------------------- */
/*-------------footer-start--------------------*/
.backg-black {
    background: #000000;
}

.f-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 36px;
    padding-bottom: 24px;
    max-width: 310px;
}

.gap-15 {
    gap: 15px;
}

footer ul li:not(:first-child) a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 8px;
    position: relative;
}

.py-100 {
    padding-top: 100px;
}

.gallery1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 20px;
}

.more1 {
    height: 100%;
    background: #2D3CAE87;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.company {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.dark {
    color: #FFFFFF;
}

.dark::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    transition: all 100ms linear;
    background-color: white;
}

.dark:hover::after {
    width: 100%;
    left: 0;
}

.dark:hover {
    color: #01C8FF;
}

.z-index-1 {
    z-index: 1;
}

.col-4 {
    width: 33.33%;
    padding-right: 12px;
    padding-left: 12px;
}
.mb-24{
    margin-bottom: 24px;
}

/*--------------footer end ---------------*/



/*-------------responsive start------------------*/

@media (max-width:992px) {
label[for="menubar"]>span {
        transition: all 200ms linear;
    }

    input:checked~label[for="menubar"] span:nth-child(2) {
        opacity: 0;
        transform: translate(-55px);
    }

    input:checked~label[for="menubar"] span:first-child {
        transform: rotate(55deg);
        transform-origin: left;
    }

    input:checked~label[for="menubar"] span:last-child {
        transform: rotate(-55deg);
        transform-origin: left;
    }
    label[for="menubar"] {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    label[for="menubar"]>span {
        width: 100%;
        height: 5px;
        background-color: #2C49FE;
        border-radius: 2px;
    }

    ul.mobile-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: white;
        position: fixed;
        top: 0;
        left: -100%;
        transition: all 200ms linear;
    }

    input[type="checkbox"]:checked~ul {
        left: 0;
    }
}

@media(min-width:992px) {
    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-8 {
        width: 66.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media(max-width:768px) {
    .g-items1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .g-items2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .g-items6 {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .g-items4 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .g-items5 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .g-items3 {
        grid-column: 2/3;
        grid-row: 4/5;
    }
}


@media(max-width:768px) {
    .column {
        flex-direction: column;
        gap: 10px;
    }
}

@media(max-width:576px) {
    .g-items1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .g-items2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .g-items3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .g-items4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .g-items5 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .g-items6 {
        grid-column: 1/2;
        grid-row: 6/7;
    }
}
